
# Maven target directory
target/
target/**

# Cache files and directories
.cache/
*.cache
.caches/

# IDE specific files
.idea/
*.iml
.settings/
.classpath
.project
.vscode/

# Compiled files
*.class
*.jar
*.war

# Log files
*.log
logs/

# Build files
build/
out/

# OS specific files
.DS_Store
Thumbs.db